div, canvas {
    position:absolute;
}
.wrapper {
    top:10px;
    left:10px;
    width: 300px;
    height: 300px;
    border: 0px solid black;
    margin:0px;
    overflow: hidden;
    background-color:#f8f8f8;
}
.vertical-scroll {
    left:315px;
    top:10px;
    border: 1px solid black;
    width: 10px;
    height: 300px;
}
.vertical-scroll div.bar {
    left:0px;
    top:0px;
    width: 10px;
    background-color: lightslategrey;
    height: 10px;
}
#mycanvas {
    left:0px;
    top:0px;
    background-image: url('../img/mainbg.png');
}

#main {
    position:absolute;
    top: 10px;
    left: 400px;
    overflow: hidden;
}

#maincanvas {
    position:relative;
    border:1px solid #000000;
    background-image: url('../img/mainbg.png');
}

#tileselector {
    position:absolute;
    top:0px;
    left:0px;
    border:2px solid red;
    width: 30px;
    height: 30px;
}

#mapselector {
    position:absolute;
    top:0px;
    left:0px;
    border:2px solid #000000;
    width: 30px;
    height: 30px;
}