html, body {  height: 100%; width: 100%; }

#container {
    width: 100%;
    height: 100%;
}

#navigation {
    float:left;
    width: 100%;
    height: 30px;
    padding: 10px 0px 10px 0px;
    background-color: #212121;
    border-bottom: 1px solid #464646;
}

#navigation button {
    margin-left: 5px;
}

#toolbar {
    background-color: #333533;
    border-right: 1px solid #464646;
    width: 350px;

    /* Position */
    position: absolute;
    left: 0px;
    top: 51px; /* Navigation (height + padding * 2 + border) */
    bottom: 0px;
}

#currenttile {
    background-color: #006dcc;
    border: 10px solid #202220;
    margin: 5px;
    height: 64px;
    width: 64px;
    float:left;
}

#tools {
    float:left;
    width: 40px;
    height: 100px;
    z-index: 1;
    border-bottom: 1px solid #464646;
    border-right: 1px solid #464646;
    border-left: 1px solid #464646;
    background-color: #2f312f;
    position: absolute;
    top: 0px;
    left: 350px;
}

#map-wrapper {
    background-color: #393b39;

    /* Position */
    position: absolute;
    left: 351px; /* Toolbar (width + border) */
    top: 51px; /* Navigation (height + padding * 2 + border) */
    bottom: 0px;
    right: 0px;
}

#map {
    position: relative;
    margin: 50px auto 0 auto;
    border: 1px solid #000000;
    background-color: #f8f8f8;
}

#tileset {
    background-color: #f8f8f8;
    background-repeat: no-repeat;
}

#tileset-wrapper {
    position:relative;
    overflow: hidden;
    width: 320px;
    height: 320px;
    background-color: #f8f8f8;
    margin: auto;
    border: 10px solid #202220;
}

.selector {
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
}
.overlay-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 5;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #000000;
}

.form {
    position:relative;
    width: 250px;
    height: auto;
    padding: 25px;
    margin: 250px auto auto auto;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #f8f8f8;
    z-index: 5;
}

.hidden {
    display: none;
}
