
html, body {  height: 100%; width: 100%; }

#container {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    position:relative;
}

#toolbar {
    position: absolute;
    top:0;
    left:0;
    min-width: 350px;
    max-width: 350px;
    width: 10%;
    height: 100%;
    background-color: #333533;
}

#tools {
    width: 32px;
    height: 32px;
    background-color: #006dcc;
    margin: 15px;
}

#map-wrapper {
    width:100%;
    height: 100%;
    background-color: #444339;
    float:left;
    position: relative;
}

#map {
    position: relative;
    overflow:hidden;
    margin: 50px auto 0 auto;
    border: 1px solid #000000;
    background-color: #f8f8f8;
    background-image: url('../img/mainbg.png');
}

#tileset {
    width: 0px;
    height: 0px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
}

#tileset-wrapper {
    position:relative;
    overflow: hidden;
    width: 320px;
    height: 320px;
    background-color: #f8f8f8;
    margin: auto;
    border: 10px solid #202220;
}

.selector {
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
}