<div class="overlay"></div>
<div class="form">
    <form>
        <label>Tilesheet:</label>
        <input type="text" name="url" placeholder="URL" required>
        <label>Tilesize:</label>
        <input type="number" name="tilesize" min="16" max="64" value="32" step="16">
        <label>Width:</label>
        <input type="number" name="width" min="10" max="255" value="10">
        <label>Height:</label>
        <input type="number" name="height" min="10" max="255" value="10">
        <button id="newmap-submit" class="btn btn-inverse">create</button>
        <button id="newmap-cancel" class="btn btn-warning">cancel</button>
    </form>

    <div id="form-validator" class="hidden">
        <ul></ul>
    </div>
</div>