<div id="currenttile"></div>
<div id="tools">
    <button title="Draw" id="draw" class="btn btn-inverse"><i class="icon-large icon-pencil icon-white"></i></button>
    <button title="Fill" id="fill" class="btn btn-inverse"><i class="icon-large icon-tint icon-white"></i></button>
    <button title="Erase" id="eraser" class="btn btn-inverse"><i class="icon-large icon-remove icon-white"></i></button>
    <button title="Rotate" id="rotate" class="btn btn-inverse"><i class="icon-large icon-retweet icon-white"></i></button>
</div>

